/* Reset some default styles and apply a background color */
body {
    margin: 0;
    padding: 0;
    background: white
  }
  
  /* Style the header section */
  #header {
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 34%,
      rgba(7, 59, 154, 1) 45%,
      rgba(0, 212, 255, 1) 100%
    );
    color: #fff; /* Set your preferred text color */
    padding: 20px;
    user-select: none;
    font-family: cursive;
  }
  
  #header h1 {
    font-size: 36px;
  }
  
  #header p {
    font-size: 18px;
  }
  
  /* Style the "Featured Properties" section */
  #featured-properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    width: 100%;
  }
  
  .property-card {
    background-color: #fff; /* Set card background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 300px;
  }
  
  .property-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .property-card h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .property-card p {
    font-size: 16px;
    color: #888;
    margin: 10px 0;
  }
  
  .property-card span {
    font-size: 24px;
    color: #009688; /* Set your preferred price color */
  }
  
  /* Style the "Find Your Dream Home" section */
  #search-properties {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  
  #search-properties h2 {
    font-size: 30px;
  }
  
  #search-properties p {
    font-size: 18px;
    color: #888;
    margin: 10px 0;
  }
  
  /* Style the search form */
  #search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #location-input,
  #price-input {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .h-list {
    float: left;
    list-style: none;
  }
  .h-li {
    float: left;
    list-style: none;
  }
  
  #search-button {
    background-color: #009688; /* Set your preferred button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: #007567; /* Change button color on hover */
  }