/* src/components/Dashboard.css */

.dashboard {
    padding: 20px;
    height: 100%;
    background: -webkit-linear-gradient(90deg, #af2dd7,#8d005f,#42121d);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #af2dd7,#8d005f,#42121d);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin: 10px 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  nav a svg {
    margin-right: 10px;
  }
  